@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist"; 

body {
  overflow-x: hidden;
  background-color: #e8e8e8;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.textColor {
  color: #259ed3;
}

.bgColor {
  background: #259ed3;
}

.bg-gradient-custom {
  background: radial-gradient(
    circle,
    rgba(167, 170, 172, 0.1) 20%,
    rgba(167, 170, 172, 1) 82%
  );
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}